*,
*::before,
*::after {
    box-sizing: unset;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

.top-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px 0 0;
}

.top-text {
    padding-right: 15px;
    font-size: 13px;
}

.top-text a {
    padding: 5px;
    text-decoration: none;
    color: #212121;
}

.top-text a:hover {
    text-decoration: underline;
}

.top-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-div .nine-dots {
    display: block;
    max-width: 16px;
    max-height: 16px;
    padding: 10px 15px 10px 10px;
    z-index: 1;
    cursor: pointer;
}

.top-div span {
    position: absolute;
    right: 66px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #F0F0F0;
    display: none;
}

.top-div .nine-dots:hover+span {
    display: block;
}

.top-div .user-image {
    display: block;
    max-width: 35px;
    max-height: 35px;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
}

.google-image {
    display: flex;
    margin: auto;
    margin-top: 200px;
    max-height: 95px;
}

.input-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 23px;
}

.form-control {
    height: 2em;
    width: 550px;
    border-radius: 5em;
    transition: none;
    border: 1px solid #DFE1E5;
    margin-bottom: 20px;
}

.form-control:hover {
    box-shadow: 0px 2px 5px #E9E9E9;
}

.form-control:focus {
    box-shadow: 0px 2px 5px #E9E9E9;
}

.btn {
    background-color: #F8F9FA;
    border: 1px solid #F8F9FA;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    background-color: #F8F9FA;
    box-shadow: 0px 1px 5px #E9E9E9;
}

.languages {
    font-size: 13px;
    margin: 20px 0 278px 0;
}

.languages a {
    margin: 3px;
    color: #1A0DAB;
}

.bottom-div {
    position: absolute;
    width: 100%;
    background-color: #F2F2F2;
    font-size: 14px;
    color: #6F6F6F;
    bottom: 0px;
}

.bottom-div .first {
    display: flex;
    padding: 12px 0 12px 33px;
    border-bottom: 1px solid #DADCE0;
}

.bottom-div .first p {
    margin: 0;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 29px 12px 29px;
    margin: 0;
}

.second a {
    margin: 0 10px 0 10px;
    color: #6F6F6F;
}

.bottom-div .second .left {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.second .right {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}